*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(168, 27, 27);
    padding: 5px;
    display: flex;
    flex-flow: wrap row;
}
nav{
    align-self: flex-end;
}
.contenedor-imagen{
    background-color: rgb(168, 27, 27);
    display:flex;
    border: 0px solid rgb(168, 27, 27);
}
img{
    max-width: 60%;
}
.fondo{
    background-image:url(img/fondu.jpg);
    background-size: 100vh 100vw;
}

section{
    display: flex;
    background-color: white;
    justify-content: space-around;
    flex-flow: wrap row;
    align-items: center;
}
div{
    width: 30%;
    margin: 15px;
    padding: 50px;
    background-color: white;
    border: 2px solid black;
}
a{
    border: 2px solid gray;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    margin-top: 15px;
}
#comprar{
    border: 2px solid azure;
    color: azure;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    margin-top: 15px;
}
h2{
    display: flex;
    justify-content: center;
}
footer{
    background-color: rgb(168, 27, 27);
    padding: 5px;
}

p{
    text-align: center;
    color: azure;
    text-shadow: 1px 1px 1px black;
}